.fr1 {
    width: 1fr;
}

.auto-width {
    width: auto;
}

.margin-h-1 {
    margin: 0 1;
}
.padding-h-1 {
    padding: 0 1;
}

Horizontal {
    height: auto;
}

Container {
    height: auto;
}

Grid {
    height: auto;
}

RadioSet {
    background: transparent;
}
RadioButton {
    background: transparent;
}
# .toggle--button {
#     background: transparent;
# }

Button {
    color: black;
    background: #ccc;
    border: none;
    min-width: 0;
    padding: 0 1;
    margin: 0 1;
}

#upper-pane {
    grid-size: 5;
    grid-columns: auto 1fr 1.5fr 1fr 2fr;
    grid-rows: auto 4;
}

#progress-box {
    row-span: 2;
    height: 100%;
}

#throttle-pane {
    column-span: 2;
}

#throttle-down-btn{
    margin-left: 0;
}

#on-off {
    column-span: 2;
    height: auto;
}

#decisions-histogram {
    column-span: 2;
    height: auto;
}

# Switch {
#     border: none;
#     padding: 0 1;
# }
# .switch--slider {
#     # color: #ddd;
#     background: #444;
# }

# LoadingIndicator {
#     height: auto;
#     width: auto;
#     margin: 0 1;
# }

#greeter {
    color: #aaa;
}

#query-section {
    padding: 0 1;
}

#query-question {
    color: yellow;
}

#gpt-responses {
    color: cyan;
}

.green {
    color: #0f0;
}

#human-input {
    grid-size: 3;
    grid-columns: auto auto 1fr;
    grid-rows: auto;
}

#yes-no {
    height: auto;
    border: none;
}

Input {
    color: #0f0;
    background: transparent;
    border: none;
    border-bottom: solid #ccc;
}

#submit-btn {
    margin-top: 1;
}
