Screen {
    background: black;
}

.fr1 {
    width: 1fr;
}

.auto-width {
    width: auto;
}

.margin-h-1 {
    margin: 0 1;
}
.padding-h-1 {
    padding: 0 1;
}

Horizontal {
    height: auto;
}

Container {
    height: auto;
}

Grid {
    height: auto;
}

RadioSet {
    background: transparent;
}
RadioButton {
    background: transparent;
    width: auto;
}
# .toggle--button {
#     background: transparent;
# }

Button {
    color: black;
    background: #ccc;
    border: none;
    min-width: 0;
    padding: 0 1;
    margin: 0 1;
}

# #upper-pane {
#     width: 100%;
# }
#upper-left-pane {
    width: 8fr;
}
#progress-box {
    width: 5fr;
    height: 100%;
}

# #row-0 {
#     width: 100%;
# }

#model-name {
    width: auto;
    height: auto;
}

#throttle-pane {
    width: auto;
}
#throttle-controls {
    width: auto;
}
#throttle-active {
    width: auto;
}
#throttle-down-btn{
    margin-left: 0;
}
#throttle-up-btn{
    margin-left: 0;
}

#cost-display {
    width: auto;
    height: auto;
}

#on-off {
    width: auto;
    height: auto;
}

#decisions-histogram {
    width: 4325fr;
    height: auto;
}
.histogram-axis-label {
    color: #aaa;
}

# Switch {
#     border: none;
#     padding: 0 1;
# }
# .switch--slider {
#     # color: #ddd;
#     background: #444;
# }

# LoadingIndicator {
#     height: auto;
#     width: auto;
#     margin: 0 1;
# }

#query-switcher {
    height: 1fr;
}

#greeter {
    color: #aaa;
}

#query-section {
    height: 1fr;
}

#query-tabs{
    height: 1fr;
}
.query-text-scroller {
    height: 1fr;
    width: 100%;
    background: #111;
}
.query-text {
    color: yellow;
    width: 100%;
}

#gpt-responses {
    color: cyan;
    margin-left: 1;
}
#gpt-why-response {
    color: cyan;
}

.green {
    color: #0f0;
}

#human-input {
    grid-size: 3;
    grid-columns: auto auto 1fr;
    grid-rows: auto;
    margin: 0;
}

#yes-no {
    height: auto;
    border: none;
}

Input {
    color: #0f0;
    background: transparent;
    border: none;
    border-bottom: solid #ccc;
}

#submit-btn {
    margin-top: 1;
}
